<html>
<head>
    <link rel="stylesheet" href={{ url_for( 'static', filename='searchstyle.css' ) }} />
</head>
<body>
    <div class="topnav">
        <a class="active" href="https://project1-afinch6.herokuapp.com/">Home</a>
        <a href="https://github.com/Afinch97/project1-afinch6">About</a>
        <!--<a href="#contact">Contact</a>
        <div class="dropdown">
            <button class="dropbtn">Genres
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                {%for i in genres%}
                <form method="POST" action="/"><button type="submit" name="genre">{{i}}</button></form>
                {%endfor%}
            </div>
        </div>-->
        <div class="search-container">
            <form method="POST" action="/">
                <input type="text" placeholder="Search..." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    <h1>"{{title}}" Movies</h1>
    <div class='container'>
        {% for i in range(10) %}
        <div class='item'>
            <p><h2>({{i+1}}) {{titles[i] }}</h2>
                <form action="https://www.themoviedb.org/movie/{{ids[i]}}">
                    <input type="submit" value="More info"/>
                </form>
            </p>
            <img src="{{posters[i]}}" >
            <p>{{ taglines[i] }}</p>
            <form action="{{wikiLinks[i]}}">
                <input type="submit" value="Link to Wiki Page"/>
            </form>
        </div>
        {%endfor%}
    </div>
</body>
</html>